.delRow {
  width: 100%;
  height: 50vh;
  background: url("../../img/pr.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delRow h1 {
  color: white;
  text-align: center;
  font-size: 7rem;
  letter-spacing: 3px;
  font-weight: bold;
}

.dh {
  text-align: center;
  font-size: 3.2rem;
  font-weight: bolder;
  color: #121212;
  margin: 3rem 0;
}
.dataRow {
  width: 70%;
  margin: 4rem auto;
}

.dataRow h3 {
  font-weight: bolder;
}

.dataRow p {
  font-size: 1.7rem;
  font-weight: 200;
}
.dataRow ul li {
  font-size: 1.7rem;
  font-weight: 200;
}
