.testimonial {
  margin-top: 18rem;
  padding: 0 12px;
}
.testimonial h3 {
  font-size: 36px;
  line-height: 33.12px;
}
.testimonial p {
  text-align: center;
  font-size: 20px;
  line-height: 27.82px;
}
.test {
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: 354.31px;
  height: 205px;
  align-items: center;
}

.test img {
  width: 132.76px;
  height: 134px;
  border-radius: 50%;
}
.test-info {
  margin-left: 1rem;
}
.test-info .comment {
  font-size: 16px;
  line-height: 20.82px;
}
.test-info p {
  text-align: left;
}

.test-info div {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

@media (max-width: 475px) {
  .test img {
    width: 60px;
    height: 65px;
    border-radius: 50%;
  }
  .con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 12px;
  }
  .testimonial h3 {
    font-size: 30px;
    text-align: center;
  }
  .testimonial p {
    font-size: 16px;
  }
  .testimonial .con .row {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

@media (max-width: 769px) {
  .con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 12px;
  }
  .testimonial .con .row {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .test {
    width: 95%;
    margin-bottom: 2rem;
  }
  .test img {
    width: 90px;
    height: 85px;
    border-radius: 50%;
  }
}
